/* choose-dificult */
.group-select-page {
  margin: 50px auto;
}

.game-title-container {
  margin: 0px auto;
}

.game-page-title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
  text-align: center;
}

.audiochallenge-main-inf {
  width: 100%;
  margin: 50px auto;
  display: flex;
  column-gap: 50px;
}

.game-img {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.game-img.audiochallenge {
  background-image: url(../assets/marketing.png);
}

.game-img.sprint {
  background-image: url(../assets/busy.png);
}

.game-describe-container {
  font-size: 28px;
}

.game-difficult-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.difficult-subtitle {
  padding-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.difficult-buttons-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  width: 80%;
  margin: 25px auto 50px auto;
  justify-content: space-around;
}

.difficult-btn {
  width: 60px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.difficult-btn:hover,
.difficult-btn.active {
  transform: scale(1.2);
}

.difficult-btn:active {
  transform: scale(1.2) translateY(5px);
}

.difficult-btn:nth-child(1) {
  background-color: #ffd900;
}

.difficult-btn:nth-child(2) {
  background-color: #ffb700;
}

.difficult-btn:nth-child(3) {
  background-color: #ff9100;
}

.difficult-btn:nth-child(4) {
  background-color: #ff6f00;
}

.difficult-btn:nth-child(5) {
  background-color: #ff5900;
}

.difficult-btn:nth-child(6) {
  background-color: #ff4400;
}

.start-btn {
  background: #6ce0c0;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  margin: 0px auto;
  cursor: pointer;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  transition: all 0.4s;
}

.start-btn:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}


/* results */
.results-container {
  display: block;
  background-color: #cffff1;
  margin: 70px 0;
}

.tabs-container {
  display: flex;
  height: 50px;
  width: 100%;
}

.main-tab,
.words-tab {
  width: 50%;
  height: 100%;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  line-height: 50px;
}

.main-tab.disable,
.words-tab.disable {
  background-color: #00ffb7;
}

.main-tab:hover,
.words-tab:hover {
  background-color: #ff9c3d;
}

.words-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results-inf {
  margin: 50px;
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}

.words-container.disable,
.main-container.disable {
  display: none;
}

.results-img {
  width: 250px;
  height: 250px;
  margin: 0px auto 25px auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.good-result-img {
  background-image: url(../assets/trophy.png);
}

.bad-result-img {
  background-image: url(../assets/search.png);
}

.try-again-btn {
  width: 200px;
  height: 50px;
  margin: 50px auto;
  background: #ff9c3d;
  color: white;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  transition: all .4s;
  cursor: pointer;
}

.try-again-btn:hover {
  transition: all .4s;
  transform: scale(1.2);
}

.try-again-btn:active {
  background: #ff9c3d;
}

.right-answers-result,
.wrong-answers-result {
  margin-bottom: 25px;
}

.right-answers-result div,
.wrong-answers-result div {
  display: flex;
  column-gap: 20px;
  font-size: 28px;
  margin: 5px 0px;
}

.answer-title-right,
.answer-title-wrong {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background-size: 100%;
}

.answer-title-right {
  background-image: url(../assets/done-1.png);
}

.answer-title-wrong {
  background-image: url(../assets/сlose.png);
}

.result-audio-btn {
  width: 30px;
  height: 30px;
  background-image: url(../assets/audio-1.png);
  background-size: cover;
  cursor: pointer;
}

.result-audio-btn:hover {
  transform: scale(1.2);
}

.answers-container {
  min-width: 240px;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 700px) {
  .audiochallenge-main-inf {
    flex-direction: column;
    row-gap: 25px;
  }
  .game-page-title {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .difficult-subtitle {
    font-size: 30px;
  }
  .game-describe-container {
    font-size: 24px;
  }
}

@media (max-width: 520px) {
  .game-page-title {
    font-size: 25px;
  }
  .difficult-subtitle {
    font-size: 25px;
  }
  .game-describe-container {
    font-size: 20px;
  }
  .difficult-buttons-container {
    width: 100%;
  }
  .main-tab,
  .words-tab {
    font-size: 24px;
  }
}
