.group-select-page {
  margin: 50px auto;
}

.game-title-container {
  margin: 0px auto;
}

.game-page-title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
  text-align: center;
}

.audiochallenge-main-inf {
  width: 100%;
  margin: 50px auto;
  display: flex;
  column-gap: 50px;
}

.audiochallenge-img {
  width: 250px;
  height: 250px;
  background-image: url(../assets/free-sticker-marketing-4850876.png);
  background-size: 100%;
}

.game-describe-container {
  margin-top: 50px;
  font-size: 28px;
}

.game-difficult-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.difficult-subtitle {
  padding-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.difficult-buttons-container {
  display: flex;
  column-gap: 20px;
  width: 80%;
  margin: 25px auto 50px auto;
  justify-content: space-between;
}

.difficult-btn {
  width: 60px;
  height: 60px;
  font-size: 32px;
  line-height: 60px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.difficult-btn:hover {
  transform: scale(1.2);
}

.difficult-btn:nth-child(1) {
  background-color: #ffd900;
}
.difficult-btn:nth-child(2) {
  background-color: #ffb700;
}
.difficult-btn:nth-child(3) {
  background-color: #ff9100;
}
.difficult-btn:nth-child(4) {
  background-color: #ff6f00;
}
.difficult-btn:nth-child(5) {
  background-color: #ff5900;
}
.difficult-btn:nth-child(6) {
  background-color: #ff4400;
}

.start-btn {
  background: #6ce0c0;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  margin: 0px auto;
  cursor: pointer;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  transition: all 0.4s;
}

.start-btn:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
