.audiochallenge-container {
  width: 100%;
  height: 100%;
}

.hearts-container {
  margin: 25px auto 0px auto;
  display: flex;
  column-gap: 20px;
}

.heart {
  width: 25px;
  height: 25px;
  margin-left: 0px;
  background-image: url(../assets/heart.png);
  background-size: 100%;
}

.heart.broken {
  background-image: url(../assets/broken-heart.png);
}

.listen-btn {
  width: 150px;
  height: 150px;
  margin: 100px auto;
  border-radius: 50%;
  background-color: #6ce0c0;
  background-image: url(../assets/marketing.png);
  background-size: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.listen-btn:hover,
.listen-btn.active {
  width: 175px;
  height: 175px;
  background-color: rgb(255, 77, 77);
}

.btns-container {
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}

.answers-btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  margin: 50px auto;
}

.answers-btn,
.not-to-know-btn,
.next-question-btn {
  width: 225px;
  height: 50px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  transition: 0.3s;
}

.answers-btn {
  background-color: #ff9100;
  margin: 0 auto;
}

.answers-btn.disable {
  opacity: 0;
}

.not-to-know-btn,
.next-question-btn {
  display: block;
  margin: 0 auto;
  background-color: #6ce0c0;
  transition: 1s;
}

.answers-btn:hover,
.not-to-know-btn:hover,
.next-question-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.answers-btn.right {
  opacity: 1;
  transform: scale(1.2);
  background-color: rgb(92, 255, 184);
}

.answers-btn.wrong {
  opacity: 1;
  transform: scale(1.2);
  background-color: rgb(252, 98, 98);
}

.not-to-know-btn.disable,
.next-question-btn.disable {
  display: none;
  transition: 1s;
}

@media (max-width: 800px) {
  .listen-btn {
    margin: 50px auto;
  }
}
