.register-block,
.sign-block {
  display: block;
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #ff9c3d;
}

.close-form {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: calc(100% - 45px);
  cursor: pointer;
}

.register-form,
.sign-form {
  display: flex;
  flex-direction: column;
  margin: 70px;
  font-size: 15px;
  font-family: sans-serif;
}

.form-label {
  margin-bottom: 5px;
}

.form-input {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 15px;
}