.statistics-container {
    margin-bottom: 20px;
    padding-top: 50px;
}

.games-statistic-title,
.words-statistic-title {
    font-size: 36px;
    text-shadow: 2px 2px 3px yellow;
    margin-top: 30px;
}

.games-statistic-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    column-gap: 40px;
    flex-wrap: wrap;
}

.game-audiochallenge-title,
.game-sprint-title {
    text-align: center;
    font-size: 24px;
}


.new-words-count,
.learn-words-count,
.right-answers-count {
    font-size: 28px;
    margin-bottom: 35px;
    padding-left: 25px;
}

.new-words-count {
    padding-top: 15px;
}

.home-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.stats__description,
.stats__info {
    text-align: center;
    padding: 15px;
}

.stats__description:nth-of-type(odd) {
    background: khaki;
    color: black;
}

.stats__description:nth-of-type(even) {
    background: #ffc107;
    color: black;
}

.stats__info:nth-of-type(odd) {
    background: grey;
    color: white;
}

.stats__info:nth-of-type(even) {
    background: black;
    color: white;
}

.stats-block__wrap {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.stats__description-block,
.stats__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}

.stats__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-family: sans-serif;
    margin-bottom: 15px;
}

.games-statistic-title,
.words-statistic-title {
    font-family: sans-serif;
}